<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>We Vote</h1>
    <p class="lead">Create polls that others can use.</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <ul class="list-unstyled">
        <li><a ng-href="/polls/new" ng-show="isLoggedIn()" class="btn btn-primary">Create A Poll</a></li>
      </ul>
    </div>
    <div class="col-lg-9">
      <h1 class="page-header">Polls:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="poll in polls">
        <li>{{poll.question}} </li>
        <li>{{poll.description}}</li>
        <li>Created: {{poll.createdAt}}</li>
        <li>Created By: {{poll._creator.name}}</li>
        <ul class="list-unstyled">
          <li ng-repeat="response in poll.responses">
            {{response.text}} votes: {{response.votes}}
          </li>
        </ul>
        <li><a ng-show="isLoggedIn()" ng-href="/polls/{{poll._id}}" class="btn btn-primary">Take Poll</a></li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>WeVote|
        <a href="https://twitter.com/jrmcduff">@JRMcDuff</a>
  </div>
</footer>
